* {
    font-family: sans-serif;
  }
  
  body {
    display: block;
    color: white;
    background-color: black;
  }
  header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: auto;
    z-index: 1;
    background-color: #000;
  }
  nav {
    display: flex;
    align-items: center;
    max-width: 1250px;
    padding: 10px 30px;
    justify-content: space-evenly;
    margin: auto;
    height: 35px;
    
  }
  
  .logo {
    cursor: default;
    margin-right: auto;
    padding-right: 20px;
  }
  
  .nav-list {
    display: flex;
    list-style: none;
    padding: 0 0 0 70px;
    margin: 0 auto;
    gap: 35px;
    cursor: default;
  }
  
  .search-icon {
    margin-left: auto;
    margin-right: 50px;
    cursor: pointer;
    transition: all 0.3 ease-in-out;
  }
  .search-icon:hover{
    transform: rotate(90deg);
  }

  .latest {
    width: 100%;
    overflow: hidden;
    position: relative;
    padding: 0px;
    box-sizing: border-box;
  }
  
  .MainCarousel {
    display: flex;
    gap: 20px;
    transition: transform 0.5s ease-in-out;
  }
  
  .carousel-item {
    position: relative;
    height: 600px;
    flex: 0 0 calc(100% - 90px); 
    padding: 0px;
    text-align: center;
  }
  
  .dots {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-top: 20px;
    align-items: center;
  }
  
  .dots span {
    width: 8px;
    height: 8px;
    background-color: #b1b1b1;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
  }
  
  .dots span.active,  .dots span:hover {
    background-color: #fff;
  }
  .days, .sora, .chatgpt, .openai, .gptdesk{
    z-index: -1;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    overflow: hidden;
  }

  
.vidText {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
}

.vidText h2, .vidText h3, .vidText button {
  text-align: center;
  margin: 10px 0;
}

.daysBtn {
  color: white;
  font-size: 18px;
  padding: 10px 20px;
  background-color: black;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}


.daysBtn:hover {
  background-color: grey;
}

.vidText h2 {
  font-size: 3.37125rem;
  line-height: 110%;
  letter-spacing: -.02em;
  font-weight: 500;
}

.vidText p {
  font-size: 1.125rem;
  font-weight: 400;
}

.whiteBtn {
  color: rgb(0, 0, 0);
  font-size: 16px;
  padding: 10px 20px;
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  border: none;
  cursor: pointer;
}

.chatgpt {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  }

.chatgpt h1 {
  color: white;
  font-size: 50px;
  font-weight: 300;
}

.chatgpt input {
  background-color: rgb(51 51 51);
  border: transparent;
  border-radius: 30px;
  width: 36%;
  height: 45px;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

input {
  background-color: rgb(240, 240, 240);
  border: 1px solid #ccc;
  border-radius: 30px;
  padding: 10px 15px;
  width: 70%;
  margin-right: 10px;
  font-size: 16px;
}

.chatgpt button {
  background-color: rgb(220, 220, 220);
  border: none;
  border-radius: 50%;
  padding: 12px;
  cursor: pointer;
  transition: all 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chatgpt button svg {
  transform: rotate(45deg);
  color: darkgray;
  transition: all 0.3s ease;
}

.chatgpt button.active {
  background-color: white;
}

.chatgpt button.active svg {
  color: darkgray;
}

.chatgpt button:focus {
  outline: none;
}

.products {
  margin-top: 100px;
  width: 100%;
  overflow: hidden;
  position: relative;
  padding: 0px;
  box-sizing: border-box;
}

.carousel-products {
  padding: 0 200px;
  display: flex;
  gap: 15px;
  transition: transform 0.5s ease-in-out;
}

.carousel-item-products {
  position: relative;
  height: 460px;
  flex: 0 0 calc(40% - 90px); 
  padding: 0px;
  text-align: center;
  border-radius: 3px;
  transition: transform 0.5s ease;
}

.title {
  padding: 0 0px;
  display: flex;
  justify-content: space-between;
  width: calc(100vw - 300px);
}

.nav {
  background-color: transparent; 
  border: none; 
  color: gray; 
  cursor: pointer;
  font-size: 15px;
}

.nav:hover {
  color: white;
  border: none;
}

.carousel-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1rem;
  overflow: hidden;
}

.carousel {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding: 0 200px;
  margin: 0 auto;
}

.carousel-track {
  position: relative;
  display: flex;
  gap: 15px;
  transition: transform 0.5s ease-in-out;
  margin: 0 -20px;
}

.slide {
  position: relative;
  height: 460px;
  flex: 0 0 calc(40% - 90px);
  padding: 0px;
  text-align: center;
  border-radius: 3px;
  background-color: #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  margin: 0 7px;
}

@media (max-width: 500px) {
  .slide {
    flex: 0 0 calc(100%  - 20px);
  }
}
@media (min-width: 500px) {
  .slide {
    flex: 0 0 calc(100% / 2 - 20px);
  }
}

@media (min-width: 900px) {
  .slide {
    flex: 0 0 calc(100% / 4 - 20px);
  }
}
@media (max-width: 900px) {
  .title {
    justify-content: space-between;
    width: calc(100vw - 100px);
  }
  .carousel {
    padding: 0 50px;
  }
}

.gpt {
  background-color: rgb(24, 24, 24);
  border-radius: 10px;
  width: 90%;
  max-width: 1100px;
  height: 330px;
  margin: auto;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.gpt h1 {
  font-size: 32px;
  font-weight: 500;
  margin: 5px 0;
}

.try-button {
  margin-top: 20px;
  background-color: white;
  color: black;
  font-size: 15px;
  font-weight: bold;
  border: none;
  border-radius: 50px;
  padding: 10px 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}

.try-button span {
  font-size: 1.2rem;
  margin-left: 5px;
}

.try-button:hover {
  background-color: #ddd;
}

.footer {
  background-color: #000;
  color: #fff;
  padding: 40px 20px;
  font-family: Arial, sans-serif;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-column {
  flex: 1;
  min-width: 180px;
  margin-bottom: 20px;
}

.footer-column h3 {
  font-size: 13px;
  margin-bottom: 15px;
  color: #ccc;
  letter-spacing: 1px;
  font-weight: 300;
}

.footer-column ul {
  list-style: none;
  padding: 0;
}

.footer-column ul li {
  margin-bottom: 12px;
}

.footer-column ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 12px;
  letter-spacing: 1px;
}

.footer-bottom {
  background-color: #000;
  color: #fff;
  padding: 20px 20px;
}

.footer-bottom-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.language-button {
  background: rgb(44, 43, 43);
  border: none;
  color: #fff;
  padding: 8px 12px;
  border-radius: 5px;
  font-size: 12px;
  cursor: pointer;
  margin-bottom: 10px;
}

.copyright {
  font-size: 12px;
  color: #ccc;
}

.social-icons {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}

.social-icons a {
  display: inline-block;
}

.social-icons img {
  width: 20px;
  height: 20px;
  filter: brightness(0) invert(1);
}